* {
  font-family: "Helvetica";

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

form > * {
  margin: 5px 0;
  box-sizing: border-box;
}

body {
  padding-top: 20px;
}

/* Add margin to the top image */
img {
  /* margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px; */
  margin: 15px;
}

/* Style the file input and button */
input[type="file"], button {
  margin-top: 10px;
}
